/* ******* font text type****** */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,500;1,600;1,700&family=Poppins:wght@500&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}



.section1 {
    background-color: rgba(255, 144, 14, 0.1);


}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 60px;
}

.heder-topic {
    display: flex;
    gap: 100px;
}

.section-one {
    text-align: center;


}

.section-one-title {
    font-weight: 700;
    font-size: 64px;
}

.Explore-button {
    color: #ffffff;
    background-color: #FF900E;
    width: 180px;
    font-size: 22px;
    border: 0;
    padding: 10px 15px;
    height: 64px;
    border-radius: 7px;


}

.button-padding {
    padding-top: 20px;
}

.section-one-img {
    text-align: center;
    padding-top: 40px;

}

/* -------------second-section quick list -----------*/
.second-section {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin: 0 200px;
    gap: 20px;
}

.features {
    border-left: 4px solid #FF900E;
    padding-left: 40px;
}

.features-title {
    font-weight: 700;
    font-size: 45px;
}

.features-paragrap {
    padding-left: 40px;
}

.second-banner-title {
    font-weight: 500;
    font-size: 45px;
}

.second-section-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

/* Third section features sction style */

.third-section {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin: 0 200px;
    gap: 20px;
}

.third-section-paragrap h3 {
    padding-top: 50px;
}

.third-section-img {
    width: 1502px;
    height: 1059px;
}

.Experience-button {
    color: #ffffff;
    background-color: #FF900E;
    width: 180px;
    font-size: 22px;
    border: 0;
    padding: 10px 15px;
    height: 100px;
    border-radius: 7px;
    transition: width 0.5s, height 0.5s;
}

.Experience-button:hover {
    width: 190px;
    height: 110px;
}

.button-position {
    position: absolute;
    width: 980px;

    left: 880px;
    top: 2870px;
}

/* some facts style */
.some-facts {
    padding-left: 100px;
    padding-bottom: 0px;
}

/* forth section style */
.forth-section {
    display: flex;
    gap: 120px;
    padding-left: 220px;
}

.forth-section-banner {
    border: 1px solid #FF900E;
    width: 241.83px;
    height: 200px;
    text-align: center;
    padding-top: 40px;
    border-radius: 10px;
    transition: width 1s, height 1s;
}

.forth-section-banner:hover {
    width: 270px;
    height: 230px;
    background-color: beige;
}

.box-containt {
    align-items: center;

}


/* fifth section */
.fifth-section {
    text-align: center;
    margin-top: 100px;
    padding-top: 30px;
}

.sponcors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
}

.sponcors img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


/* footer style */

.bottom {

    margin: 0 auto;
    background-color: #727272;
    padding: 50px 100px;
    margin-top: 60px;
    margin-right: auto;
    text-align: left;

}

.my-plans-info-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    gap: 40px;
    background: cover;

}

.submit-button {
    background-color: white;
    border: 0;
    color: black;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    border-radius: 5px;
}

.cottom-text-color {
    color: black;
    text-align: left;
    width: 450px;
}

.subscribe {
    font-size: 25px;
    padding-bottom: 20px;
}

input {
    height: 45px;
    width: 300px;
    background-color: white;
    color: black;
    border-radius: 8px;
}